{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    {% include 'partials/header.html' %}
    <!-- Navigation-->

    
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'assets/img/about-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About Boukfa Badreddine</h1>
                        <span class="subheading">Pursuing innovation through AI and Data Science.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2></h2>
                    <p>My name is Boukfa Badreddine, and my passion lies in the application of artificial intelligence and data science across various fields. With a background in industrial engineering, I am eager to utilize AI to solve complex problems, enhance efficiencies, and innovate processes within diverse industries.</p>
                    <p>My goal is to explore new AI-driven solutions that can make a measurable impact, from optimizing production workflows to predictive analytics in logistics and beyond. I am continuously learning and applying knowledge in machine learning, data science, and software development to make significant contributions in my field.</p>
                    <p>Driven by curiosity and a desire to contribute, I am constantly expanding my expertise to bridge the gap between industry challenges and technological solutions. I am excited to collaborate on projects that push the boundaries of AI and data science.</p>
                </div>
            </div>
        </div>
    </main>
    

</body>
{% endblock %}
